@model IEnumerable<Derby.ViewModels.PackViewModel>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i>&nbsp;Packs <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
        @if (!Model.Any())
        {
            <li><a href="/pack/create/">Register a Pack</a></li>
        }
        else
        {
            <li>@Html.ActionLink("All Packs", "Index", "pack", null, null)</li>

            foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Name + " - " + item.Region, "details", "pack", new { id = item.Id }, null)
                </li>
            }
        }
    </ul>
</li>
