@model Derby.Models.PackInvitation
@{
    ViewBag.Title = "Accept";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string expiry = "";
    string loginPart = "";
    if (Model != null)
    {
        expiry = Model.CreatedDate.AddDays(Model.ExpiryOffset).ToString("MM/dd/yyyy");

        HttpCookie cookie = new HttpCookie("InviteCode");
        cookie.Value = Model.Code;
        this.Response.Cookies.Add(cookie);
    }
}

<h2>Derby Invitation</h2>
<div>
    @if (Request.IsAuthenticated && Model != null && !Model.Accepted)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.Code)

             <div class="">
                 <p>
                     Hey there! Looks like Unit @Html.Raw(Model.Pack.Name) invited you to join in on their Derby action! This invitationi will expire on @Html.Raw(expiry).
                 </p>
                 <p>
                     If you would like to access this invitation, click Accept below.
                 </p>
             </div>
             <div>
                 <input type="submit" value="Accept" class="btn btn-success"/>
             </div>
        }
    }
    else if (Request.IsAuthenticated && Model.Accepted)
    {
        <div class="">
            <p>Oops! Looks like you've already accepted this invite!</p>
            <p>Since you're already logged in, you should be all set to open your unit and get started.</p>
        </div>
    }
    else if (Model == null)
    {
        <div class="">
            <p>Oops! Looks like you didn't supply an invitation code! Please check your email again and make sure you clicked the correct link!</p>
        </div>
    }
    else
    {
        <div class="">
            <p>
                Looks like you need to <a href="/login">login first</a>! You will be routed back to this page once you've completed the login.
            </p>
        </div>

    }

</div>