@using Microsoft.Ajax.Utilities
@using Microsoft.Data.OData.Query.SemanticAst
@model Derby.ViewModels.CompetitionViewModel

@{
    ViewBag.Title = "Finals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Finals</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Racer Registration</h4>
        <table class="table table-hover table-condensed">
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Car Number</th>
                <th>Points</th>
                <th>&nbsp;</th>
            </tr>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*@foreach (var den in Model.Dens.Where(x => !x.IsSystemPlaceholder))
            {
                var _den = den;*@

                //foreach (var leader in Model.Leaderboard.Where(x => x.DenId == _den.Id).OrderBy(o => o.Points))
                //{
                    @Html.EditorFor(model => model.Leaderboard)
                //}
            @*}*@
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Back to Competition", "Details", "Competition", new { id = Model.Id }, new { @class = "btn btn-xs btn-default" })
</p>

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('.row-select').click(function(e) {
                $(this).closest('tr').addClass('success');
                console.log($(this).next('input').val())
            });
        });
    </script>
}
