@using System.Web.UI.WebControls
@model Derby.Models.InviteEmail

@{
    Layout = null;
    string url = "";

    if (Request.Url != null)
    {
        url = Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + (Request.Url.IsDefaultPort ? "" : ":" + Request.Url.Port);
    }
    url = "/invite/" + @Model.UniqueCode;
}

To: @Model.To
From: postal@example.com
Subject: @Model.Subject

Hello,
You've been <a href="@url">invited to join Derby</a> for your Packs upcoming race! To join in on the race click the link below. You can also copy and paste in into your browser. 

Thanks!

If you are receiving this in error, please feel free to ignore the message.
