<?xml version="1.0"?>
<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="Azure.Storage" value="" />
	<add key="Azure.Storage.Container" value="" />
	<add key="Google.Auth.Id" value="" />
	<add key="Google.Auth.Secret" value="" />
  <add key="Derby.weburl" value="" />
  <add key="Facebook.Auth.Id" value="" />
  <add key="Facebook.Auth.Secret" value="" />
  <add key="Sendgrid.APIKey" value="" />
  <add key="Sendgrid.Email" value="" />
</appSettings>
