body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.announcement-heading {
  font-size: 30px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

.denlogo-xsmall{ width: 30px; }
.denlogo-small{ width: 70px; }

/* Override for a smaller table text size in Yeti */
table.table td {font-size: 15px;}
div.alert {font-size: 15px;}

.list-group-item {font-size: 15px;}


.popup {
    background-color:#fff;
    border:solid 5px #AE0000;
    -webkit-box-shadow:2px 2px 5px #000;
    -moz-box-shadow:2px 2px 5px #000;
    box-shadow:2px 2px 5px #000;
    z-index:1;
    display:none;
    position:absolute;
    padding:15px;
}​