@model Derby.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}


<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <h4>
                Registration and logins use a third-party system with OpenID
            </h4>
            <h3>Why OpenID?</h3>
            <p>
                Using OpenID allows you to use a single password to access and OpenID-enabled site. This also keeps your personal password out of individual sites keeps your account information more secure. 
            </p>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}