@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>Derby</h1>
    <p class="lead">A <em>free</em> community tool for managing Pinewood Derby competitions
    </p>
</div>
<div class="row">
        <p>The goal of the application is to provide a community system for multiple packs and regions to use. The program was born out of frustration from having to use multiple Excel spreadsheets to manage a derby.</p>

    <p class="">
        Are you thinking about using, or already using Derby? <a href="mailto:tim.meers@gmail.com?Subject=Derby">
        Reach out and say hello</a>! You can also ask questions or let me know what you'd like to see in the application!
    </p>
    <p>
        You can also <a href="https://github.com/tmeers/Derby">check out the source code</a>, log issues, and contribute to the application on GitHub.
    </p>

</div>

<div class="row">
    <h1>
        <a name="features" class="anchor" href="#features"><span class="octicon octicon-link"></span></a>Features
    </h1>

    <ul>
        <li>Create and manage multiple packs </li>
        <li>Manage scouts across years, not tied down to a single den</li>
        <li>Create additional "dens" for leaders and friends &amp; family races</li>
        <li>Pack privacy for a "members only" use, only your pack sees your scouts and competitions</li>
        <li>
        Competitions are completed per den in a scheduled scheduled method

        <ul>
            <li>Race Heats will be designed around the number of lanes and racers, each racer racing in a different lane with each heat</li>
            <li>Heats will be scheduled to avoid racers competing against the same racer repeatedly </li>
            <li>
            The Heats will follow a <a href="http://www.rahul.net/mcgrew/derby/methods.html#chaotic">"Chaotic-Rotation Method"</a><br>
            <ul>
                <li>
                    This is similar to the <a href="http://www.wtrfrd.com/pack339/339stern.htm">Stearns-Borom Method</a>
                </li>
            </ul>
        </ul>
    </ul>
</div>
<div class="row">
    <h2>Work in progress</h2>
    <p>
        As with most projects, this is a work in progress and is still rough around the edges. Updates are happening all the time and I am loving all of it.
    </p>
    <p>
        I will be taking contributions and ideas to this and I really want to make it something special for more packs to being to utilize. The first Derby will be taking place for Pack 247 in Kalamazoo MI.
    </p>

    <h2>Info</h2>
    <p>
        Some of the elements of the application have come from outside sorces.
        <ul>
            <li>
                <a href="http://www.scoutingbsa.org/council_training/join_scouts/2002/clipart.html">Den logos</a>
            </li>
            <li><a href="http://bootswatch.com/yeti/">Yeti Theme</a></li>


        </ul>
    </p>
</div>