@model IEnumerable<Derby.Models.Pack>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Winners Circle</h1>
    <p class="lead">A free tool for managing Pinewood Derby and Raingutter Regatta races.</p>
    
</div>

<div class="row">
    <h2>Packs</h2>
    @foreach (var item in Model)
    {
        <div class="col-sm-2">
            <h4>@item.Name</h4>
            <div>@item.Region</div>
        </div>
    }

</div>